body {
    background-color: green;
}

#soccerbot{
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.canvasGame {
    margin-left: auto;
    margin-right: auto;
    display:block;
}